body{
  margin:0;
  padding: 3%;
  font-family: 'Josefin Sans', sans-serif;
 line-height: 1.5;
 font-size: 16px;
}
.image-girl{
  width: 100%;
}
.content{
  margin: 25% 25% 20% 0;
}
h1{
  font-size:50px;
  font-weight: bold;
}
h2{
  font-size:40px;
  font-weight: lighter;
  color:#ce5c7f;
}
p{
margin: 0;
text-align: left;
color:#ce5c7f;
font-size: 20fpx;
width: 100%;
position: relative;
bottom: 40px;
}
.form-control{
  border-radius:20px 20px;
}
